@import './loader.css';

/* Third-party patches */

.CodeMirror {
    height: 100%;
    font-family: "Roboto Mono",monospace;

    background: inherit;
    color: inherit;
    box-shadow: none;
    line-height: 20px;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: "Roboto Mono",monospace;
    font-weight: 400;
}

#root-stack {
    width: 100%;
    height: 100%;
}

#panels {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#editor-pane {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #2b3e50;
    flex-basis: calc(50% - 3px - 16px);
    position: relative;
    /* 50px is magic number used by CodeMirror to hide the element's real scrollbars */
    height: calc(100% - 50px);
}

#run-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 24px 0 0;
    z-index: 5;
    background-color: #168afd;
    color: white;
    outline: none;
    border: none;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    min-width: 64px;
    height: 36px;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px;
}

#run-button:hover {
    opacity: .8;
}

#run-button.disabled-run-button {
    background: #ccc;
}

#right-pane {
    display: flex;
    flex-basis: calc(50% - 3px);
    height: 100%;
}

#console-pane {
    overflow-y: auto;
    font-family: "Roboto Mono",monospace !important;
    color: white;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    flex-basis: calc(50% - 3px);
}

#log-list {
    height: calc(100% - 48px) !important;
}

/* Workaround */
#log-list._tokamak-stack {
    align-items: flex-start !important;
}

#preview-pane {
    flex-basis: calc(50% - 3px - 48px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Workaround */
#preview-pane > ._tokamak-stack {
    margin: 24px;
    height: 100%;
}

#preview-host {
    width: 100%;
    margin-top: 24px;
    height: calc(100% - 24px);
}